{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400"
        rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div>
        <header>
            
            <div class="nav-left">
                <h1><a href="{% url 'home' %}">RNT's blog</a></h1>
                <p>A blog where your identity is anonymous.</p>
              </div>

            <div class="nav-right">
                <a href="{% url 'post_new' %}">+ New Blog Post</a>
            </div>
        
        </header>

        {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Log out</a></p>
        {% else %}
            <p>You are not logged in.</p>
            <a class="btn btn-primary btn-lg btn-login btn-block" href="/login/auth0">Log In </a>
        {% endif %}
   
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>